<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="src/css/bootstrap.min.css">
    <title>arrayObject</title>

    <style>


    </style>

</head>
<body>
    <div id="app">
        <h2>Skills</h2> <hr>
        <ul>
            <li v-for="(skill, i) in skills">
                <!-- {{i+1}}. {{skill.name}} ({{skill.expreance}}) -->
                {{(i+1)+'.'+skill.name+'('+(skill.expreance)+')'}}
            </li>
        </ul>

        <button @click="add()" class="btn btn-success">Add</button>

        <br> <br>

            <div class="container">
                <h1>ToDo List</h1>
                <div class="row">
                    <div class="col-9">
                        <input type="text" v-model="inputItem" class="form-control" placeholder="add item">

                    </div>
                    <div class="col-3">
                        <button @click="addItem()"  class="btn btn-success" v-if="addBtn">Add</button>
                        <button @click="updateItem()"  class="btn btn-success" v-if="!addBtn">Update</button>
                    </div>
                </div>

                <table class="table mt-5">
                    <thead class="bg-light">
                        <tr>
                            <th>No.</th>
                            <th>Item Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="(item, i) in arrayItems">
                            <td>
                                {{(i+1)+'. '}}
                            </td>
                            <td>
                                {{item}}
                            </td>
                            <td>
                                <button @click="editItem(i)" class="btn btn-warning text-light">Edit</button>
                                <button @click="removeItem(i)" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
             </div>
    </div>


    <script src="src/js/bootstrap.min.js"></script>
    <script src="src/js/vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                skills: [
                    {name:"HTML", expreance: 5},
                    {name:"CSS", expreance: 3},
                    {name:"Bootstrap", expreance: 4},
                    {name:"php", expreance: 2},
                    {name:"Java", expreance: 1}
                ],


                addBtn:true,
                inputItem:"",
                arrayItems: [],
                updateData:'',
            },

            methods:{
                add(){
                    this.skills.push({name:"C#", expreance: 1})
                },


                addItem(){
                    this.arrayItems.push(this.inputItem),
                    this.inputItem= ""
                },

                editItem(i){
                    this.updateData=i
                    this.inputItem = this.arrayItems[i]
                    this.addBtn=false

                },

                updateItem(){
                    this.$set(this.arrayItems,this.updateData,this.inputItem)
                    this.inputItem=""
                     this.addBtn=true
                },

                removeItem(i){
                    this.arrayItems.splice(i,1)
                }
            }
        })
    </script>
</body>
</html>