<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data Binding</title>
</head>
<body>
    
    <div id="app">
        <h1 style="color: red;">Data Binding</h1>
        <p>Enter Your Name: </p>
        <input type="text" v-model="name">
        <p>Enter Your Email: </p>
        <input type="email" v-model="email">
        <p>Enter Your Phone no: </p>
        <input type="number" v-model="phone">
        <h1>Your name is: {{name}} </h1>
        <h1>Your email is: {{email}} </h1>
        <h1>Your phone no is: {{phone}} </h1> 
    </div>
    <br>

    

    <script src="src/js/vue.js"></script>

    <script>

        var databind = new Vue({
            el: '#app',
            data:{
                name: '',
                email: '',
                phone: ''
            }
        })

    </script>
</body>
</html>