<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="src/css/bootstrap.min.css">
    <link rel="stylesheet" href="formStyle.css">
    <title>User Registration Vuejs</title>
</head>
<body>

    <div id="app">
        <div class="container">
            <form class="form-control">
                <h1>User Info</h1>
                <input type="text" v-model="userdata.name" class="form-control mt-2" placeholder="Name">
                <input type="text" v-model="userdata.email" class="form-control mt-2" placeholder="Email">
                <input type="text" v-model="userdata.password" class="form-control mt-2" placeholder="Password">
                <input type="text" v-model="userdata.phoneno" class="form-control mt-2" placeholder="Phone no">
                <select v-model="userdata.gender">
                    <option value="">Select Gender</option>
                    <option value="">Male</option>
                    <option value="">Female</option>
                    <option value="">Others</option>
                </select>
                <textarea v-model="userdata.address" class="form-control mt-2" placeholder="Address"></textarea>
                <button v-if="submitbtn" @click.prevent="submit()" class="btn btn-success my-2">Submit</button>
                <button v-if="!submitbtn" @click.prevent="updateinfo()" class="btn btn-success my-2">Update</button>
            </form>
        </div>
        <div >
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Phone No</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                <tr v-for="(item,i) in arrayInfo">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.password}}</td>
                    <td>{{item.phoneno}}</td>
                    <td>{{item.address}}</td>
                    <td>
                        <button @click="editUser(i)" class="btn btn-warning">Edit</button>
                        <button @click="deleteUser(i)" class="btn btn-success">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="src/js/vue.js"></script>
    <script src="src/js/bootstrap.min.js"></script>
    <script src="src/js/popper.min.js"></script>
    <script src="src/js/jquery-slim.min.js"></script>


    <script>
        new Vue({

            el:'#app',

            data:{
                userdata:{},

                arrayInfo: [],

                submitbtn:true,

                updateData:''
            },

            methods:{
                submit(){
                    this.arrayInfo.push(this.userdata)
                    this.userdata={}
                },

                editUser(i){
                    this.updateData= i,
                    this.userdata = this.arrayInfo[i],
                    this.submitbtn=false
                },

                deleteUser(i){
                    this.arrayInfo.splice(i,1)
                },

                updateinfo(){
                    this.$set(this.arrayInfo,this.updateData,this.userdata)
                    this.userdata ={}
                    this.submitbtn=true

                }
            }
        })

    </script>

</body>
</html>